<div class="container">
  <md-content layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
      <md-toolbar>
        <span>
          <h2 class="lead">Register User</h2>
        </span>
        <h2 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
      </md-toolbar>
      <md-card-content>
        <form ng-submit="lc.registerUser()">
            <md-input-container class="md-block">
            <label for="username">Username:</label>
            <input type="text" ng-model="lc.user.username" />
          </md-input-container>
          <md-input-container class="md-block">
            <label for="password">Password:</label>
            <input type="password" ng-model="lc.user.password" />
          </md-input-container>
          <md-button type="submit" name="submit" value="Register">Submit</md-button>
          <md-button class="md-primary" href="#home">Cancel</md-button>
        </form>
      </md-card-content>
  </md-content>
</div>